body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav {
    display: flex;
    justify-content: flex-end;
    background-color: #ddd;
    padding: 10px;
}

nav a {
    margin-right: 10px;
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

#api-section {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se muevan a la siguiente línea si no hay suficiente espacio */
    gap: 20px; /* Espacio entre los elementos */
}

img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 10px; /* Bordes redondeados */
}

/* Estilos para la explicación */
p {
    font-family: 'Arial', sans-serif; /* Cambia la fuente según tus preferencias */
    font-size: 16px;
    line-height: 1.5;
}

.favorite-button,
.remove-favorite-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.favorite-button:hover,
.remove-favorite-button:hover {
    background-color: #45a049;
}
